.tab{background: #703890;
color: #577c87;

text-shadow:2px 3px 5px #2D2B3A;
padding-top:10px;
padding-right:2px;
letter-spacing: 8px;
height: 50px;
width: 50%}
                                         
                                         }